* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  height: 200px;
  overflow: hidden;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  pointer-events: none;
  gap: 5px;
}

.slide-img {
  height: 100%;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px white inset;
}
.slide-img.green {
  background: springgreen;
}
.slide-img.blue {
  background: cornflowerblue;
}
.slide-img.red {
  background: tomato;
}
.slide-img.yellow {
  background: gold;
}
.slide-img.purple {
  background: mediumpurple;
}
.slide-img.pink {
  background: hotpink;
}
